// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Montserrat", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$primary: #26607d;
$secondary: #45a6d7;

$grey: #838383;

$small-pc-height: 640px;
$tablet-width: 768px;
$desktop-width: 1024px;
$desktop-lg-width: 1440px;
$desktop-hd-width: 1920px;
$desktop-wqhd: 2560px;

@mixin small {
  @media (max-height: #{$small-pc-height + 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) and (max-width: #{$desktop-lg-width - 1px}) {
    @content;
  }
}

@mixin desktop-lg {
  @media (min-width: #{$desktop-lg-width}) and (max-width: #{$desktop-hd-width - 1px}) {
    @content;
  }
}

@mixin desktop-hd {
  @media (min-width: #{$desktop-hd-width}) and (max-width: #{$desktop-wqhd - 1px}) {
    @content;
  }
}

@mixin desktop-wqhd {
  @media (min-width: #{$desktop-wqhd}) {
    @content;
  }
}
