
// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,700');

// Variables
@import 'variables';


// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    height: 100%;
    height: 100vh;
    background: linear-gradient(rgb(250, 250, 249), rgb(150, 185, 218));
    background-image: url('/../../../../img/background-40p.png');
    background-position: center;
    background-repeat: no-repeat no-repeat;
    background-size: cover;
}

h1 {
    color: $secondary;
    font-weight: 700;
    padding-top: 10px;
}

h2 {
    color: $primary;
    font-weight: 700;
    font-size: 1.3rem;
}

p {
    color: black;
    font-weight: 300;
    font-size: 1rem;
    text-align: justify;
    padding: 20px 30px 20px 30px;
}

a:hover {
    text-decoration: none;
}

a:hover h1 {
    color: $primary;
}

.navbar-nav {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 300;
}

.nav-link {
    color: $primary !important;
}

.nav-link-light {
    color: $secondary !important;

}

.navbar-brand {
    position: absolute;
    left: 10%;
    top: 30.120px;
    transform: translate(-10%, -50%);
    margin: 0 auto;
}

.row-80 {
    min-height: 90%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 90vh; /* These two lines are counted as one 🙂       */
}
.col-lg-6 {
    // background: #d3d3d3;
}

.col-lg-8 {
    // background: #bdbdbd;
}

.social-frame {
    margin: 0;
    padding: 10px 10px;
    border: 5px solid $primary;
}

.vertical-center {
  min-height: 90%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 90vh; /* These two lines are counted as one 🙂       */
  display: flex;
  align-items: center;
  overflow: none;
}


.btn {
    border-radius: 0px;
    padding: 10px 60px;
    text-transform: uppercase;
}
.bottom-nav-brand {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  transform: translateY(-95%);
  display: flex;
  align-items: center;
  justify-content: center;

}

.bottom-brand {
    height: 25px;
    width: auto;
}

.bottom-nav-brand a {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: $primary !important;
    font-weight: 500;
}

.bottom-nav {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  transform: translateY(-100%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.bottom-nav a {
  color: $primary;
  text-align: center;
  display: inline-block;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin: 0px auto;
  text-transform: uppercase;
  font-weight: bold;
}

/* Change the color of links on hover */
.bottom-nav a:hover {
  color: $secondary;
}


/* Add a color to the active/current link */
.bottom-nav a.active {
  color: $secondary;
}
