@import "variables";

:root {
  --accent: #8fd1f2;
}

[v-cloak] {
  display: none;
}

.boardal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
  &__mask {
    // background: rgba(#000,.65);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
  &__wrapper {
    position: relative;
    width: 100vw;
    max-width: 100vw;
    min-width: 100vw;
    max-height: 100vh;
    height: 100vh;
    background: $secondary;
    color: white;
    display: flex;
    flex-direction: var(--cross, column);
    // border-radius: 0.2em;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2), 0 1em 2em -1em;
    // border: 6px solid rgba(38, 97, 125, 0.4);
    border: 6px solid $primary;
  }
  &__x {
    cursor: pointer;
    font-size: 2em;
    line-height: 0.5;
    opacity: 0.15;
    &:hover {
      opacity: 0.65;
    }
  }
  &-enter-active,
  &-leave-active {
    transition: opacity 0.25s;
  }
  &-enter,
  &-leave-to {
    opacity: 0;
  }
}

// modal content sliders
article {
  flex: 0 1 80%;
  height: 80%;
  display: flex;
  flex-direction: var(--axis, row);
  overflow: hidden;
}
section {
  justify-content: flex-end;
  align-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  visibility: hidden;
  flex: 0 0 100%;
  padding: 2em 2em 0em 2em;
  // padding: 0em 2em 0em 2em;
  overflow: auto;
  will-change: transform;
  transform: translate(var(--x, 0%), var(--y, 0%));
  transition: transform 300ms ease-out;
  position: relative;
  h2,
  h3,
  h4 {
    margin-top: 0;
  }
  &.current {
    visibility: visible;
  }
}
footer {
  position: relative;
  text-align: right;
  display: flex;
  flex-direction: var(--axis-reverse, row-reverse);
  justify-content: space-between;
  align-items: center;
  // box-shadow: 0 0 0 1px rgba(#000, .1);
  background-color: $secondary;
  &:not(:empty) {
    padding: 1em;
  }
}

.step-controls {
  display: flex;
  flex-direction: column;
}

.step-dots {
  display: flex;
  flex-direction: var(--axis, row);
}
.step-dot {
  cursor: pointer;
  width: 1em;
  height: 1em;
  margin: 0.5ch;
  border-radius: 1em;
  background: white;
  opacity: 0.5;
  transition: transform 100ms ease-out, opacity 150ms linear;
  &.active {
    opacity: 1;
    // box-shadow: 0 0 1em -.25em;
  }
  &:hover {
    transform: scale(1.2);
  }
}
.forward-actions,
.back-actions {
  flex: 1;
  display: flex;
  flex-direction: var(--axis, row);
}
.forward-actions {
  justify-content: flex-end;
  align-items: flex-end;
  // text-align: right;
}
.back-actions {
  justify-content: flex-start;
  // text-align: left;
}

// boring
*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: var(--accent);
}

del {
  color: #ca1e34;
  font-style: italic;
}

p {
  line-height: 1.5;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: snow;
  color: #333;
}

p {
  &[disabled] {
    color: $secondary !important;
    cursor: default !important;
  }
  &.primary {
    color: $primary;
    cursor: pointer;
  }
}
// broadal buttons
button {
  outline: none;
  font: inherit;
  line-height: 1;
  cursor: pointer;
  padding: 0.8em 1.5em;
  color: white;
  background-color: $primary;
  transition: transform 50ms ease-out;
  will-change: transform;
  margin-top: 5px;
  &:active {
    transform: scale(0.95);
  }
  &:focus {
    border-color: var(--accent);
  }
  &[disabled] {
    opacity: 0.2;
    cursor: not-allowed;
  }
  &.primary {
    border-color: transparent;
    background: $primary;
    font-weight: 400;
    &:not([disabled]) {
      color: white;
    }
  }
  &.accent {
    background: var(--accent);
    &:not([disabled]) {
      color: #fff;
    }
  }
  &.secondary {
    border-color: transparent;
    background: transparent;
    &:not([disabled]) {
      color: rgba(#000, 0.4);
    }
  }
  &.cancel:not([disabled]) {
    color: var(--accent);
  }
}

section > h3 {
  color: white;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

section > p {
  padding-bottom: 10px;
  margin-bottom: 0px;
  align-self: center;
  width: 70%;
  color: white;
  font-size: 0.8rem;
  text-align: center;
}

section > img {
  align-self: center;
  justify-self: center;
  max-width: 50%;
  height: auto;
  // margin-bottom: 5%;
  @include small {
    max-width: 40%;
  }
  @include desktop {
    max-width: 45%;
  }
}

.logo {
  justify-self: flex-start;
}
